In [12]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler

# 1. Load and Initial Inspection
df = pd.read_csv("/content/housing.csv")
print("--- Initial Inspection ---")
print("\ndf.head():")
print(df.head())
print("\ndf.info():")
df.info(verbose=True)
print("\ndf.describe():")
print(df.describe())
print("\ndf.isna().sum():")
print(df.isna().sum())
print("\ndf.shape:", df.shape)

# 2. Simple dropna
new_df = df.dropna()
print("\n--- Simple Dropna ---")
print("\nnew_df.head():")
print(new_df.head())
print("\nnew_df.shape:", new_df.shape)

# 3. SimpleImputer (Mean for numeric, Mode for categorical)
num_cols = df.select_dtypes(include=['int64', 'float64']).columns
cat_cols = df.select_dtypes(include='object').columns
df_imputed = df.copy()

# Impute numerical columns with mean
num_imputer = SimpleImputer(strategy='mean')
df_imputed[num_cols] = num_imputer.fit_transform(df[num_cols])

# Impute categorical columns with most frequent value (mode)
cat_imputer = SimpleImputer(strategy='most_frequent')
df_imputed[cat_cols] = cat_imputer.fit_transform(df[cat_cols])

print("\n--- Imputation Check ---")
print("\ndf_imputed.isna().sum():")
print(df_imputed.isna().sum())

# 4. IQR Outlier Detection and Removal
print("\n--- IQR Outlier Detection ---")
numeric_cols = df_imputed.select_dtypes(include=['int64', 'float64']).columns
outlier_mask = pd.Series(False, index=df_imputed.index) # Mask to mark outliers

for col in numeric_cols:
    Q1 = df_imputed[col].quantile(0.25)
    Q3 = df_imputed[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df_imputed[(df_imputed[col] < lower_bound) | (df_imputed[col] > upper_bound)]
    outlier_mask = outlier_mask | (df_imputed[col] < lower_bound) | (df_imputed[col] > upper_bound)
    print(f"{col}: {len(outliers)} outliers")

# Correct IQR Outlier Removal: remove rows that are outliers in *any* numeric column
df_iqr_removed = df_imputed[~outlier_mask].copy()
print("Shape after IQR outlier removal (rows with any numeric outlier dropped):", df_iqr_removed.shape)

# 5. Categorical Column Check (using the corrected DataFrame df_iqr_removed)
cat_cols_cleaned = df_iqr_removed.select_dtypes(include='object').columns
print("\n--- Categorical Columns in Cleaned Data ---")
print("Categorical columns:\n", cat_cols_cleaned.tolist())

# 6. Label Encoding
df_label_encoded = df_iqr_removed.copy()
le = LabelEncoder()

for col in cat_cols_cleaned:
    df_label_encoded[col] = le.fit_transform(df_label_encoded[col])

print("\n--- Label Encoding ---")
print("\ndf_label_encoded.head():")
print(df_label_encoded.head())

# 7. One-Hot Encoding
df_one_hot = pd.get_dummies(df_iqr_removed, columns=cat_cols_cleaned, drop_first=True)
# Convert boolean columns created by get_dummies to int (0 or 1)
bool_cols = df_one_hot.select_dtypes(include='bool').columns
df_one_hot[bool_cols] = df_one_hot[bool_cols].astype(int)

print("\n--- One-Hot Encoding ---")
print("\nOne-hot encoded dataset shape:", df_one_hot.shape)
print("\nPreview of encoded data:")
print(df_one_hot.head())

# 8. Data Scaling (MinMax, Z-score, Decimal)
# Define numeric_df from the IQR-removed dataframe for scaling
numeric_df = df_iqr_removed.select_dtypes(include=['int64', 'float64'])

# a. MinMax Scaling
min_max_scaler = MinMaxScaler()
min_max_scaled = pd.DataFrame(min_max_scaler.fit_transform(numeric_df), columns=numeric_df.columns)

print("\n--- MinMax Scaling ---")
print("\nmin_max_scaled.head():")
print(min_max_scaled.head())

# b. Z-score Scaling
zscore_scaler = StandardScaler()
zscore_scaled = pd.DataFrame(zscore_scaler.fit_transform(numeric_df), columns=numeric_df.columns)

print("\n--- Z-score Scaling ---")
print("\nzscore_scaled.head():")
print(zscore_scaled.head())

# c. Decimal Scaling
def decimal_scaling(df_to_scale):
    scaled_df = df_to_scale.copy()
    for col in scaled_df.columns:
        # Use abs().max() to find the largest absolute value
        max_abs = scaled_df[col].abs().max()
        # Find the number of digits (j)
        j = len(str(int(max_abs))) if max_abs >= 1 else 0
        scaled_df[col] = scaled_df[col] / (10 ** j)
    return scaled_df

decimal_scaled = decimal_scaling(numeric_df)

print("\n--- Decimal Scaling ---")
print("\ndecimal_scaled.head():")
print(decimal_scaled.head())

--- Initial Inspection ---

df.head():
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

df.info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

df.describe():
          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

df.isna().sum():
longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

df.shape: (20640, 10)

--- Simple Dropna ---

new_df.head():
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

new_df.shape: (20433, 10)

--- Imputation Check ---

df_imputed.isna().sum():
longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

--- IQR Outlier Detection ---
longitude: 0 outliers
latitude: 0 outliers
housing_median_age: 0 outliers
total_rooms: 1287 outliers
total_bedrooms: 1306 outliers
population: 1196 outliers
households: 1220 outliers
median_income: 681 outliers
median_house_value: 1071 outliers
Shape after IQR outlier removal (rows with any numeric outlier dropped): (17609, 10)

--- Categorical Columns in Cleaned Data ---
Categorical columns:
 ['ocean_proximity']

--- Label Encoding ---

df_label_encoded.head():
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0
5    -122.25     37.85                52.0        919.0           213.0
6    -122.25     37.84                52.0       2535.0           489.0

   population  households  median_income  median_house_value  ocean_proximity
2       496.0       177.0         7.2574            352100.0                3
3       558.0       219.0         5.6431            341300.0                3
4       565.0       259.0         3.8462            342200.0                3
5       413.0       193.0         4.0368            269700.0                3
6      1094.0       514.0         3.6591            299200.0                3

--- One-Hot Encoding ---

One-hot encoded dataset shape: (17609, 13)

Preview of encoded data:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0
5    -122.25     37.85                52.0        919.0           213.0
6    -122.25     37.84                52.0       2535.0           489.0

   population  households  median_income  median_house_value  \
2       496.0       177.0         7.2574            352100.0
3       558.0       219.0         5.6431            341300.0
4       565.0       259.0         3.8462            342200.0
5       413.0       193.0         4.0368            269700.0
6      1094.0       514.0         3.6591            299200.0

   ocean_proximity_INLAND  ocean_proximity_ISLAND  ocean_proximity_NEAR BAY  \
2                       0                       0                         1
3                       0                       0                         1
4                       0                       0                         1
5                       0                       0                         1
6                       0                       0                         1

   ocean_proximity_NEAR OCEAN
2                           0
3                           0
4                           0
5                           0
6                           0

--- MinMax Scaling ---

min_max_scaled.head():
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0   0.213996  0.564293                 1.0     0.257379        0.162209
1   0.212982  0.564293                 1.0     0.223472        0.201035
2   0.212982  0.564293                 1.0     0.285488        0.239862
3   0.212982  0.564293                 1.0     0.161103        0.182053
4   0.212982  0.563231                 1.0     0.445011        0.420190

   population  households  median_income  median_house_value
0    0.157609    0.160550       0.899633            0.721533
1    0.177430    0.199083       0.684719            0.698417
2    0.179668    0.235780       0.445496            0.700343
3    0.131074    0.175229       0.470871            0.545164
4    0.348785    0.469725       0.420587            0.608306

--- Z-score Scaling ---

zscore_scaled.head():
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0  -1.314670  0.994033            1.843602    -0.621751       -1.164708
1  -1.319658  0.994033            1.843602    -0.798766       -0.960183
2  -1.319658  0.994033            1.843602    -0.475004       -0.755658
3  -1.319658  0.994033            1.843602    -1.124362       -1.060173
4  -1.319658  0.989418            1.843602     0.357790        0.194246

   population  households  median_income  median_house_value
0   -1.164096   -1.167652       2.550381            1.760119
1   -1.061235   -0.963098       1.432178            1.644942
2   -1.049622   -0.768285       0.187491            1.654540
3   -1.301797   -1.089727       0.319517            0.881356
4   -0.171986    0.473648       0.057889            1.195962

--- Decimal Scaling ---

decimal_scaled.head():
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2   -0.12224    0.3785                0.52       0.1467          0.0190
3   -0.12225    0.3785                0.52       0.1274          0.0235
4   -0.12225    0.3785                0.52       0.1627          0.0280
5   -0.12225    0.3785                0.52       0.0919          0.0213
6   -0.12225    0.3784                0.52       0.2535          0.0489

   population  households  median_income  median_house_value
2      0.0496      0.0177        0.72574              0.3521
3      0.0558      0.0219        0.56431              0.3413
4      0.0565      0.0259        0.38462              0.3422
5      0.0413      0.0193        0.40368              0.2697
6      0.1094      0.0514        0.36591              0.2992